a, p, body, label {
	color: #fefefe;
}

p {
	margin-bottom: .75rem;
	line-height: 1.5rem;
	font-size: 1.2rem;
}

p:empty { 
	display:none; 
}

a, .navigation a {
	font-weight: 700;
	color: $link-colour;
}

a:hover {
	color: $logo-blue;
}

.content-wrapper {
    padding: 1rem;
    margin-bottom: 5rem;
}

/* JetPack overrides */
p.contact-submit {
    
    text-align: center;
    width: 80%;

    input[type=submit] {
	    background: #88d1d1;
	    text-transform: uppercase;
	    padding: 0.25rem 1rem;
	}

}

form.search-form {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

/* Medium and up */
@media screen and (min-width: 40em) {
	

}

/* Large and up */
@media screen and (min-width: 64em) {}