
$logo-green: #bad239;
$logo-blue: #b2d6f1;
$link-colour: white;

$green-dark-extra: #54b847;
$green-dark: #7ABB67;
$green-light: #8FC781;
$brown-dark-extra: #68543F;
$brown-dark: #776552;
$brown-light: #867665;
$blue-dark-extra: #6FA2C2;
$blue-dark: #84C1E7;
$blue-light: #A3D1ED;

button, .button, input[type=submit] {
	background-color: $green-dark;
	outline-color: $blue-light;
    outline-width: 1px;
}

a:hover {
	color: $logo-blue;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
	border-color: $logo-blue;
}

::selection {
  background: $blue-dark-extra; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $blue-dark-extra; /* Gecko Browsers */
}