
$logo-green: #bad239;
$logo-blue: #b2d6f1;

$green-dark-extra: #255019;
$green-dark: #6bb458;
$green-light: #7abc68;
$brown-dark-extra: #3c2815;
$brown-dark: #776453;
$brown-light: #857566;
$blue-dark: #8ccbfa;
$blue-light: $logo-blue;

button, .button, input[type=submit] {
	background-color: $green-dark;
	outline-color: $blue-light;
    outline-width: 1px;
}

a:hover {
	color: $logo-blue;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
	border-color: $logo-blue;
}