#content.site-content {
    margin: 0rem 2rem 2rem 2rem;
}

.no-max-width {
	max-width: none;
}

div[role=form] {
    max-width: 90%;
    margin: auto;
}

a, p, body {
	color: #fefefe;
}

a:hover {
	color: $logo-blue;
}

h1, h2, h3 {
	text-transform: uppercase;
	border-bottom: 1px solid white;
	margin-top: 2rem;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
	border-color: $logo-blue transparent;
}

button, .button, input[type=submit], .button:focus {
	background-color: $logo-green;
}

button:hover, .button:hover, input[type=submit]:hover, button:active, .button:active, input[type=submit]:active {
	background-color:  transparentize($logo-green, 0.2);
}


/* Medium and up */
@media screen and (min-width: 40em) {
		
	div[role=form] {
	    max-width: 50%;
	}
}