.austeve-events-about, .austeve-events .event , .austeve-teammembers .team-member {
	margin-bottom: 3rem;
}

.austeve-menupage-title {
	text-align: center;
	color: $salmon-color;
}

.austeve-menupage-sub-menu a.active {
	text-decoration: underline;
}

h1 {
	margin: 1rem auto;
}

.position-left {
	/*Stops off canvas menu flashing on page load*/
	transform: translateX(-100%);
}

.austeve-menupage-dropdown {

	margin-bottom: 2rem;

	.is-drilldown-submenu-parent>a {
		background: $tertiary-colour;
	}

	a {
		color: $secondary-colour;
	}

	.drilldown .is-drilldown-submenu-parent>a::after {
		border-color: transparent transparent transparent $secondary-colour;
		margin-bottom: 0.25rem;
	}

	.drilldown .js-drilldown-back>a::before {
		border-color: transparent $secondary-colour transparent transparent;
		margin-bottom: 0.25rem;
	}

	.menu .active>a {
		background: $tertiary-colour;
		color: $secondary-colour;
	}
}

.austeve-menuitems {

	.menu-item {
	    max-width: 90%;
		margin: auto;
		margin-bottom: 1.5rem;

		.title, .price {
			margin-bottom: 0;
		}

		.price {
			float: right;
		}

		.description {
			color: $secondary-colour;
		}
	}
}

.wine-list-category {

	margin-bottom: 2.5rem;

	.wine-heading, .price-heading {
		color: $salmon-color;
	}

	.price-heading, .price {
		text-align: center;
	}

	.menu-item.wine-list {
		max-width: none;
	}

	.description {
		color: $mid-blue-color;
		font-style: italic;
		font-size: 0.9rem;
	}
}


/* Medium and up */
@media screen and (min-width: 40em) {
	
	h1 {
		max-width: 1000px;
		margin: 2rem auto;

	}

	.austeve-menuitems {
		.menu-item {
		    max-width: 80%;
    	}
	}
}

/* Large and up */
@media screen and (min-width: 64em) {
	
	.austeve-menuitems {
		.menu-item {
		    max-width: 60%;
    	}
	}
}

