a.button, a.ab-button, button {
	border: 5px solid $button-border-colour !important;
	border-radius: 10px;
	text-transform: uppercase;
}

.austeve-events-header-image, .austeve-events-about, .austeve-events .event , .austeve-about-header-image, .austeve-teammembers .team-member {
	margin-bottom: 3rem;
}