a.button, a.ab-button, button {
	border: 5px solid $button-border-colour !important;
	border-radius: 10px;
	text-transform: uppercase;
}

.austeve-events-about, .austeve-events .event , .austeve-teammembers .team-member {
	margin-bottom: 3rem;
}

.austeve-menupage-sub-menu a.active {
	text-decoration: underline;
}

h1 {
	margin: 1rem auto;
}

.position-left {
	/*Stops off canvas menu flashing on page load*/
	transform: translateX(-100%);
}

/* Medium and up */
@media screen and (min-width: 40em) {
	
	h1 {
		max-width: 1000px;
		margin: 3rem auto;

	}

	.austeve-menuitems {
	    padding-left: 10rem;
	}
}

