#colophon {
	background: none;
	padding: 0;
	text-align: center;
	color: black;
	text-transform: uppercase;
	margin-top: 6rem;
	margin-bottom: 2rem;

	a {
		color: black;
	}

	.footer-address {
		.name {
			font-family: Haarlem-Deco;
			color: $dark-blue-color;
		}
	}

	.footer-social a {
		margin: 3rem 0.5rem;
		color: $light-gold-color;
	}

	img {
		max-height: 100px;
		margin-bottom: 1rem;
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {

	#colophon {
		margin-bottom: 6rem;
	}
}

/* Large and up */
@media screen and (min-width: 64em) {

	#colophon {

		img {
			max-height: 150px;
		}
	}
}

