#colophon {
	background-color: $dark-blue-color;
	padding: 2rem;
	text-align: center;
	color: white;
	text-transform: uppercase;
	margin-top: 6rem;
    max-width: 1100px;

    h3 {
    	font-size: 1.3rem;
    }

	a {
		color: white;
	}

	.footer-contact {

		margin-bottom: 2rem;
	}

	.footer-address {

		.name {
			font-family: Haarlem-Deco;
			color: $light-gold-color;
		}
	}

	.footer-social a {
		margin: 3rem 0.5rem;
		color: $light-gold-color;
	}

	.footer-owners {
		font-family: Raleway;
		font-style: italic;
		color: $light-gold-color;
		text-transform: initial;
		font-size: 0.75rem;
		margin-top: 1rem;
	}

	.footer-hours {
		margin-bottom: 2rem;
		.day {
			font-family: Haarlem-Deco;
		}
		.times {
			font-family: Raleway;
			font-style: italic;
			text-transform: initial;
		}
	}

	img {
		max-width: 250px;
		margin-bottom: 1rem;
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {

	#colophon {
		margin: 6rem auto;

		.footer-social a {
			margin-left: 0;
			margin-right: 1rem;
		}
		
	}
}

/* Large and up */
@media screen and (min-width: 64em) {

	#colophon {
	}
}

