.home.page {
	
	.cover-image-section>div, .call-to-action-section>div .container {
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 500px;
		background-position: 50% 100%;
		position: relative; // for bottom alignment of content
	}

	.call-to-action-section>div .container {
		min-height: 300px;
	}

	.content-section>.columns, .call-to-action-section>.columns {
		padding-right: 0;
		padding-left: 0;
	}

	.content {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		color: $primary-colour;

		a {
			margin-top: 1.5rem;
		}
	}

	.call-to-action-section, .content-section {
		margin-top: 4rem;
	}
}

/* Small screen only */
@media screen and (max-width: 40em) {
	
	.home.page {

		#cta2 {
			margin-top: 4rem;
		}
	}
}


/* Medium and up */
@media screen and (min-width: 40em) {

	.home.page {

		.call-to-action-section>div .container {
			min-height: 300px;
		}

		.content {
			p {

				max-width: 70%;
    			margin: auto;
    		}
    	}

		#cta1 .container {
			margin-right: 2rem;
		}

		#cta2 .container {
			margin-left: 2rem;
		}
    }
}

/* Large and up */
@media screen and (min-width: 64em) {	

	.home.page {

		.call-to-action-section>div .container {
			min-height: 400px;
		}
	}
}