.wp-block-cover {

	.wp-block-cover-text {
		font-weight: 700;
	}

}

#featured-post {

	margin-top: 2rem;

	.featured-post-content {
		text-align: center;
	}

	.container.content {
		margin:  2rem 0 0 0;
		padding: 1rem;
		background-color: white;

		.action .button {
			background-color: black;
			color: white;
			padding: 1rem 3rem;
			margin-top: 1.5rem;
			font-weight: 500;
			font-size: 1rem;
		}
	}

	.container {
		margin: 2rem;
		padding: 0;
		background-color: none;
	}
}

#what-is-cf {
	background-color: $blue-color;
	text-align: center;
	margin-top: 2rem;
    padding: 2rem 0.5rem 4rem 0.5rem;

	h2 {
		color: white;
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	
}

/* Medium and up */
@media screen and (min-width: 40em) {
	.wp-block-cover {
	    min-height: 600px;
		.wp-block-cover-text {
			font-size: 2.5em;
		}
	}

	#featured-post {
		.container.content {
			margin: 0 0 0 2rem ;
		}
	}

	#what-is-cf {
	    padding: 2rem 2rem 4rem 2rem;
	}

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {
	
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}