$zesty-yellow: #ffe700;
$zesty-yellow-light: rgba(255, 231, 0, 0.15);

h1, h2, h3, h4 {
	font-family: 'Dancing Script', cursive;
	font-weight: 400;
}

a, p, label, body, input {
	font-family: 'Antic Didone', serif;
}

.menu-item .description {
	font-family: 'Dancing Script', cursive;	
}

a.button, input[type=button], input[type=submit] {
	margin-top: 1rem;
	background: $zesty-yellow;
	color: black;
	letter-spacing: 1.5px;
	font-size: 1.3rem;
    width: 10rem;
}

.button:hover, .button:focus, input[type="submit"]:hover, input[type="submit"]:focus, input[type="button"]:hover, input[type="button"]:focus {
    background-color: $zesty-yellow-light;
    color: rgba(0, 0, 0, 0.7);
}

.hidden-menu {
	display: none;
}

div:active {
	outline: none;
}

#content {
	text-align: center;
}

/* Medium and up */
@media screen and (min-width: 40em) {

	
}