a {
	color: $blue-color;
}

a:hover, a:focus {
    color: $blue-bright-color;
}

.search-form {
	#submit {
		width: 100%;
		background-color: $blue-color;
		color: grey;
	}
}

.hidden {
	display: none !important;
}

#page {
	max-width:80em;
	margin: auto;
}