a {
	color: $blue-color;
}

a:hover, a:focus {
    color: $blue-bright-color;
}

.search-form {
	#submit {
		width: 100%;
		background-color: $blue-color;
		color: grey;
	}
}

input[type=submit], input[type=button], .button, button {
	background-color: $blue-color;
}

.hidden {
	display: none !important;
}

#page {
	max-width:80em;
	margin: auto;

	#content {
		margin: 1rem;
		min-height: 50vh;
	}

}

h1, h2 {
	color: $pink-color;
}

.page:not(.page-template-contact-page), .single-post {

	img.wp-post-image {
		margin: 0em 0 1em 0em;
	}
}

.active-arrow.active {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid $green-color;
	margin-bottom: -2rem;
	margin-left: 45px;
}

#story-navigation {

	.container {

		position: relative;
		text-align: center;
		
		.content{ 
			min-height: 13em;
		 }

		a {
			color: white;
		}

		.bg-color {

			background-color: $pink-color;
			height: 100%;
			width: 100%;
			position: absolute;
			z-index: -2;
			opacity: 0.7;
		}

		.bg-image {
			background-position: 50% 50%;
			height: 100%;
			width: 100%;
			position: absolute;
			background-repeat: no-repeat;
			background-size: cover;
			opacity: 0.3;
			z-index: -4;
		}
	}
}

iframe {
	border: solid 1px gray;
}

/** START RESPONSIVE OEMBED STYLE from https://www.advancedcustomfields.com/resources/oembed **/
.embed-container { 
	position: relative; 
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/** END RESPONSIVE OEMBED STYLE **/

/** START Print specific styling **/

.print-only {
	display: none !important;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }

	.print-only {
		display: block !important;
	}
}
/** END Print specific styling **/

/* Small only */
@media screen and (max-width: 39.9375em) {
	
}

/* Medium and up */
@media screen and (min-width: 40em) {
	
	.page:not(.page-template-contact-page), .single-post {
		img.wp-post-image {
			float: right;
			margin: 0em 0 1em 1em;
			max-width: 60%
		}
	}

	#single-post-content {
		min-height: 25em;
	}

	.post-nav .container {
		margin: 0 0.5em;
	}

	.post-nav:nth-of-type(1) .container {
		margin-left: 0;
	}

	.post-nav:nth-last-of-type(1) .container {
		margin-right: 0;
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {
	
	.page:not(.page-template-contact-page) img.wp-post-image {
		max-width: none;
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}
