.row.no-column-padding {
	> .columns {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

.row.two-column-row {
	max-width: 55rem;
}

.homepage-news {
	
	h2 {
		color: #fefefe;
		background-color: $brown-dark;
		margin-bottom: 0;
		padding: 2rem 0;
	}
}

.homepage-events {
	
	h2 {
		color: #fefefe;
		background-color: $green-dark;
		margin-bottom: 0;
		padding: 2rem 0;
	}
}

.homepage-resources {
	padding: 3rem;
	color: white;
}

.home {
	h2 {
		text-transform: uppercase;
		border-bottom: 1px solid white;
	}
}

