.row.no-column-padding {
	> .columns {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

.row.two-column-row {
	max-width: 55rem;
}

.homepage-news {
	
	h2 {
		color: #fefefe;
		background-color: $brown-dark;
		margin-bottom: 0;
		padding: 2rem 0;
	}
}

.homepage-events {
	
	h2 {
		color: #fefefe;
		background-color: $green-dark;
		margin-bottom: 0;
		padding: 2rem 0;
	}
}

.homepage-resources {
	padding: 3rem;
	color: white;
}

.homepage .page-id-344 {
	padding-top: 3rem;

	.tagline {
	    color: white;
	    font-size: 1.25rem;
	    padding-left: 6rem;
	    padding-right: 6rem;
	    margin-bottom: 3rem;
	}
}

.landing-bg-image {
	min-height: 75vh;
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(10, 10, 10, 0.25);
}

/* Medium and up */
@media screen and (min-width: 40em) {
	.homepage .page-id-344 {
		padding-top: 5rem;

		.tagline {
		    color: white;
		    font-size: 1.25rem;
		    padding-left: 6rem;
		    padding-right: 6rem;
		    margin-bottom: 3rem;
		}
	}	

	.landing-bg-image {
		min-height: 80vh;
		background-position-y: 100%;
		background-position-x: 10%;
	}
}

/* Large and up */
@media screen and (min-width: 64em) {
	.homepage .page-id-344 {
		padding-top: 8rem;

		.tagline {
		    color: white;
		    font-size: 1.25rem;
		    padding-left: 6rem;
		    padding-right: 6rem;
		    margin-bottom: 3rem;
		}
	}
}
