#mc_embed_signup {
	background: none !important;    
	margin: auto;

	br {
		display: none;
	}

	.mc-field-group {
		padding-bottom: 0 !important;
	}

	.button {
    	background-color: $green-dark-extra !important;
    }
}