.menu-board {

	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: white;

	.background {
		height: 100vh;
		background: linear-gradient(90deg, $zesty-yellow-mb 50%, white 50%, white 0), $zesty-yellow-mb;
		background-size: 8% auto;
	}

	.menu-board-content {
		position: absolute;
		background: white;
		top: 3em;
		left: 3em;
		width: calc(100vw - 6em);
		border: 2px solid black;
		bottom: 3em;
		padding: 2rem;

		.container {
		}

		.heading {
			border: 5px dashed $zesty-turquoise;
			font-size: 1.8rem;
			margin-bottom: 1rem;

			h1 {
				font-size: 5rem;
			}

			.tagline {
				margin-top: -1rem;
			}

			.asterisk {
				display: block;
				font-size: 1.5rem;
			}
		}

		.body {
			margin-left: 3rem;
			font-size: 2.25rem;
			text-align: left;

			.title {
				margin-bottom: 0rem;
				line-height: 2.25rem;
			}

			.description {
				font-family: 'Antic Didone', serif;
				font-size: 1.75rem;
				margin-top: 0;
				margin-bottom: 1rem;
			}
		
		}

		.highlight {
			border: 15px solid $zesty-yellow-mb;
			height: 100%;
			font-size: 2.1rem;
    		padding-bottom: 0.5rem;

			h2 {
				font-size: 3.5rem;
				margin-top: 1rem;
			}

			.asterisk {
				display: block;
				font-size: 1.5rem;
			}
		}

		.highlight.blue {
			border: 15px solid $zesty-turquoise;
		}

		p:empty 
		{
			display: none;
		}

		
	}

}

#menu-board-1 {
	#classics, #bakery {
		margin-bottom: 2rem;
	}

	#classics {
		.menu-item {
			margin-bottom: 1rem;

			.description { 
				margin-bottom: 0;
			}
		}
	}

	#bakery, #beverages {
		font-size: 2.25rem;

		.menu-item {
			margin-bottom: 0.75rem;
		}
	}

	.highlight {		
		font-size: 2.1rem;
	}
}

#menu-board-2  {

	#signature-sandwiches {
		.description {
		    font-size: 1.5rem;
		    margin-bottom: 0.75rem;
		}
	}

	#classic-sandwiches {
		margin-bottom: 2rem;

		.menu-item {
			margin-bottom: 1.2rem;
    		font-size: 2.5rem;
		}
	}
}

#menu-board-3  {

	.menu-board-content > .container > .grid-y {
		height: 850px;
	}

	#side-dishes {

		margin-bottom: 2rem;

		.menu-item {
			margin-bottom: 1rem;
		}

	}

	#salads {

		min-height: 575px;

		.intro {
			margin-bottom: 0.7rem;
		}

		.step {
			font-size: 2rem;

			.body {
				font-size: 1.65rem;

				p {
					margin-bottom: 0.6rem;
				}
			}
		}

	}

	#specials {
		min-height: 16rem;
	}

	.no-highlight {
		
		font-size: 2rem;

		h2 {

		}

	}

	.highlight {

		h1 {
			font-size: 5rem;
		}
		
		font-size: 1.8rem;
		padding-bottom: 1rem;

	}
}