#page {
	background: -webkit-linear-gradient(5deg, $green-dark 50%, $green-light 50%);
}

.home #page{
	background: none;
}

.page-id-309 #page { /* What we do page */
	background: -webkit-linear-gradient(5deg, $green-dark 50%, $green-light 50%);
}

.page-id-309 #page .content-wrapper { /* What we do page content */
	background: $green-dark;
}

.post-type-archive-austeve-resources #page {
	background: -webkit-linear-gradient(5deg, $blue-dark 50%, $blue-light 50%);
}

.page-id-410 #page { /* Resources page */
	background: -webkit-linear-gradient(5deg, $blue-dark 50%, $blue-light 50%);
}

.tax-resource-category #page {
	background: -webkit-linear-gradient(5deg, $blue-dark 50%, $blue-light 50%);
}

.post-type-archive-austeve-events #page {
	background: -webkit-linear-gradient(5deg, $green-dark 50%, $green-light 50%);
}

.blog #page{
	background: -webkit-linear-gradient(5deg, $brown-dark 50%, $brown-light 50%);
}

.single-post #page{
	background: -webkit-linear-gradient(5deg, $brown-dark 50%, $brown-light 50%);
}

.page-id-89 #page { /* Contact us page */
	background: -webkit-linear-gradient(5deg, $blue-dark 50%, $blue-light 50%);
}

.page-id-89 #page .content-wrapper { /* Contact us page content */
	background: $blue-dark;
}

.page-id-89 #page input[type=submit], .page-id-89 #page input[type=button], .page-id-89 #page .button { /* Contact us page buttons */
	background: $blue-dark-extra;
}

.page-id-332 #page .content-wrapper { /* Path To Improvement page content */
	background: $blue-dark;
}

.page-id-332 #page { /* Path to improvement page */
	background: -webkit-linear-gradient(5deg, $blue-dark 50%, $blue-light 50%);
}

.page-id-332 #page .button { /* Path to improvement page buttons */
	background: $blue-dark-extra;
}

.single-memberpressgroup #page { /* 'Join us' page */
	background: -webkit-linear-gradient(5deg, $brown-dark 50%, $brown-light 50%);
}

.single-memberpressproduct  #page { /* 'Join us' page */
	background: -webkit-linear-gradient(5deg, $brown-dark 50%, $brown-light 50%);
}

.page-id-335 #page, .row.page-id-335 { /* 'Resources' page and for Homepage */
	background: -webkit-linear-gradient(5deg, $blue-dark 50%, $blue-light 50%);
}

.page-id-434 #page, .row.page-id-434 { /* 'Subscribe' page and for Homepage */
	background: -webkit-linear-gradient(5deg, $green-dark 50%, $green-light 50%);
}

.page-id-17 #page .content-wrapper { /* Login page content */
	background: $green-dark;
}

.page-resources {

	margin: 2rem 0;

	.resource-link
	{
		text-align: center;
		margin-bottom: 0.5rem;	
	}
}

.resource {

	margin-bottom: 2rem;

	.logo {
	    margin-bottom: 1rem;
	}

	h2 {
		font-size: 1.1rem;
	}

	.resource-website {
	    font-size: 0.8rem;
	    margin-top: 0.5rem;
	    text-decoration: underline;
	}

}

/* Medium and up */
@media screen and (min-width: 40em) {
	
	.page-resources {

		.resource-link:nth-of-type(1)
		{
			text-align: right;			
		}

		.resource-link:nth-last-of-type(1)
		{
			text-align: left;			
		}
	}

	.resource {

		.info {
			padding-left: 1rem;
		}

	}

}
