.page-resources {

	.resource-link
	{
		text-align: center;		
	}

	.resource-link:nth-of-type(1)
	{
		text-align: right;			
	}

	.resource-link:nth-last-of-type(1)
	{
		text-align: left;			
	}
}

.resource {

	margin-bottom: 2rem;

	.logo {
	    margin-bottom: 1rem;
	}

}

/* Medium and up */
@media screen and (min-width: 40em) {
	
	.resource {

		.info {
			padding-left: 1rem;
		}

	}

}
