#content {
    max-width: 95%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

p, div, span {
	font-family: 'Raleway', sans-serif;
}

/* Medium and up */
@media screen and (min-width: 40em) {
	#content {
	    max-width: 85%;
	}
}

/* Large and up */
@media screen and (min-width: 64em) {	
	#content {
	
	}
}