
.post:not(.austeve-display-posts), .austeve-events:not(.austeve-display-posts), .austeve-resources:not(.austeve-display-posts) {
	
	padding-top: 2rem;
    padding-bottom: 3rem;
    min-height: 15rem;
    border-bottom: 1px solid white;

    .container {
	    padding: 1rem;
	    background: $brown-dark;
    }

    .the-content {
    	margin-bottom: 1rem;
    }

	.image 
	{
		padding: 0.75rem;
		max-width: 350px;

		.solid-bg {
			background: white;
		}

		img {
			border-radius: 50%;
		}
	}

	.date {
	    font-weight: 700;
	    text-transform: uppercase;
	    font-size: 1.1rem;
	    margin-bottom: 0.5rem;
	}

	.excerpt, .info {
		margin-bottom: 0.75rem;
	}

	.tickets, .read-more {
		display: inline-block;		
	}

	.button {
		background-color: $brown-dark-extra; 		
	}
}

.austeve-events:not(.austeve-display-posts) {

	.container {
	    background: $green-dark;
    }

	.button {
		background-color: $green-dark-extra; 		
	}
}

.austeve-resources:not(.austeve-display-posts) {

	.container {
	    background: $blue-dark;
    }

	.image 
	{
		img {
			border-radius: 0;
			border: 20px solid white;
		}
	}

	.button {
		background-color: $blue-dark-extra; 		
	}
}

.austeve-post {
	
	text-align: center;
	margin-bottom: 6rem;

	.cover-image {
		max-width: 90%;
	}

}

.post-block {
    background-color: $green-light; 
    display: block; 
    color: #fefefe;
    min-height: 20rem;

    .container {
    	align-items: center;
    	padding: 1rem;

    	.title {
			display: flex;
			align-items: flex-end;

			h1 {
				font-size: 1.5rem;
				margin-top: 0;
    			margin-bottom: 1rem;
			}
		}

		.read-more:hover, .read-more:active {
			cursor: pointer;
		}
    }    
}

.even .post-block {
    background-color: $green-dark; 
}

.post .post-block {
    background-color: $brown-light; 
}

.post.even .post-block {
    background-color: $brown-dark; 
}

.post-block:hover, .post-block.active {
    background: $green-dark-extra !important; /*IMPORTANT to override JS styling */
    opacity: 0.8;
}

.post .post-block:hover, .post .post-block.active {
    background: $brown-dark-extra !important; /*IMPORTANT to override JS styling */
    opacity: 0.8;
}

.post-block-background {
	background-size: cover;
    background-position: center center;

}

/* Small only */
@media screen and (max-width: 39.9375em) {
	
	.post-block.active:after {
		content:'';
		position: absolute;
		left: 50%;
		margin-left: -50px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 50px 50px 0 50px;
		border-color: $brown-dark-extra transparent transparent transparent ;
	}

	.austeve-events .post-block.active:after:before {
		border-color: $green-dark-extra transparent transparent transparent ;
	}

	.current-post.active {
		margin-top: 4rem;
		margin-bottom: 4rem;
	}

}

/* Medium and up */
@media screen and (min-width: 40em) {

	main.austeve-post {
	    min-height: 40rem;
	    overflow: scroll;

	    >div:last-of-type {
	        margin-bottom: 20rem;
	    }
	}

	#current-post:before {
		content:'';
		position: absolute;
		width: 0;
		height: 0;
		margin-top: 6rem;
		border-style: solid;
		border-width: 50px 0 50px 50px;
		border-color: transparent transparent transparent $brown-dark-extra;
	}

	#current-post.austeve-events:before {
		border-color: transparent transparent transparent $green-dark-extra;
	}

	#current-post .container {
		margin-left: 4rem;
	}
}
