$pink-color: #bc5298;
$green-color: #7fb955;
$orange-color: #e68f52;
$yellow-color: #e4e164;
$blue-color: #6abfdb;
$blue-bright-color: #6cc2dd;

$primary-color: white;
$secondary-color: black;

$button-color: $secondary-color;

