$light-gold-color: #e4b570;
$dark-gold-color: #d79128;
$light-blue-color: #98cacc;
$mid-blue-color: #38778a;
$dark-blue-color: #354160;
$salmon-color: #dc8666;

$primary-colour: white;
$secondary-colour: $dark-blue-color; 
$tertiary-colour: $dark-gold-color;  


$button-colour: transparent;
$button-border-colour: $primary-colour;
