/*
#e4b570 //Light gold
#d79128 //Darker gold
#98cacc //Light blue
#38778a	//Medium blue
#354160	//Dark blue
#dc8666 // Salmon
*/

$primary-colour: white;
$secondary-colour: #354160; 
$tertiary-colour: #d79128;  
$salmon-color: #dc8666;
$light-blue-color: #98cacc;
$mid-blue-color: #38778a;

$button-colour: transparent;
$button-border-colour: $primary-colour;
